<div class="grades-table-container">
<%= turbo_frame_tag 'grades_table' do %>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">Course</th>
      <th scope="col">Student</th>
      <th scope="col">Grade</th>
    </tr>
    </thead>
    <tbody>
    <% grades.each do |grade| %>
      <tr>
        <th scope="row"><%= grade.course.name %></th>
        <td><%= grade.student.full_name %></td>
        <td><%= grade.grade %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
</div>
