.students-index-container {
  padding: 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .index {
  }
}

.create-student-container {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;

}
