.home-index-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  padding: 0.8em;

  .index {
    flex-grow: 100;
  }

  table {
    margin-bottom: 1.2em;
  }
}

.create-student-container {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 30px;

}
