<div class="students-index-container">
  <div class="index mb-3">

  </div>
  <div class="create-student-container">
    <h6 class="mb-3">Create new students here:</h6>

    <%= link_to 'Create Student', new_student_url, class: 'btn btn-secondary' %>


  </div>
</div>