.new-courses-container {
  padding: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-courses-container {
  display: flex;
  justify-content: center;
  align-items: center;
}