.results-new-page {
  padding: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.result-submission {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  div {
    display: flex;
    flex-direction: column;
  }
}
