.grade-new-page {
  padding: 1.2em;
  display: flex;
  flex-direction: row;
}

.grade-submission {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;

  div {
    display: flex;
    flex-direction: column;
  }
}

.grades-table-container {
  width: 100%;
  padding: 0 0 0 1.8em;
}