<nav class="navbar navbar-expand-lg text-secondary navbar-shyftlabs">
  <div class="container-fluid">
    <div>
      <%= link_to 'Students', new_student_url, class: 'text-decoration-none text-light' %>
      <%= link_to 'Courses', new_course_url, class: 'text-decoration-none text-light' %>
      <%= link_to 'Grades', new_grade_url, class: 'text-decoration-none text-light' %>
    </div>
    <a class="navbar-brand ms-2 text-light" href="/">Shyftlabs 💠</a>
  </div>
</nav>