<nav class="navbar navbar-expand-lg text-secondary navbar-shyftlabs">
  <div class="container-fluid">
    <div>
      <%= link_to 'Students', new_student_url, class: 'text-decoration-none text-light' %>
      <%= link_to 'Courses', new_course_url, class: 'text-decoration-none text-light' %>
    </div>
    <a class="navbar-brand ms-2 text-light" href="/">Shyftlabs 💠</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon navbar-dark navbar-toggle-invicta"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
    </div>
  </div>
</nav>